/node_modules

/storage/*.key
/vendor
/nbproject

.env
.env.testing

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
id_rsa_shared

# Ignore DevSpace cache and log folder
.devspace/
